<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	{% include header.html %}
 	<!-- Primary Page Layout
 	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="section main">
	<div class="container">
		<h3 class="section-heading">{{ page.title | replace: "_", " "}}</h3>
		{{ page.body | markdownify }}
		<div id="gallery">
				{% for artwork in site.data[page.title] %}
					<article class="thumb">
							<img class="lozad u-max-full-width" title="{{ artwork.name }}, {{ artwork.size }}, {{ artwork.year }}" data-src="{{ artwork.img_href }}" alt="{{ artwork.name }}" />
							
							<div class="caption">
								<p>"{{ artwork.name }}"</p>
								<p>{{ artwork.medium }}</p>
								<p>{{ artwork.size }}</p>
								<p>{{ artwork.year }}</p>
								{% if artwork.sold %}
									<p>Sold</p>
								{% else %}
									<p>Available for Purchase</p>
								{% endif %}
							</div>
					</article>
				{% endfor %}
		</div>
	</div>
</div>
	<!-- End Document
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	{% include footer.html %}
</body>
</html>
